.page-main__specials
	// Temporary for test purposes
	box-sizing: border-box
	border: 1px solid black
	
	height: 840px
	
.specials__tittle
	font-family: "Merriweather", Arial, sans-serif
	font-weight: lighter
	font-size: 40px
	line-height: 50px
	color: #3c3c3c
	text-align: center

.specials__list
	border: 1px dotted red
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	width: 80%
	margin-left: 10%
	
.specials__item
	box-sizing: border-box
	border: 1px solid black
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 33%
	min-width: 250px
	height: 50%
	
	
	
.specials__text
	width: 50%
	background-color: #f8f8f8

	
	