.page-main__specials
	// Temporary for test purposes
	box-sizing: border-box
	border: 1px solid black
	
	height: 840px
	
.specials__title
	margin-top: 80px

.specials__list
	border: 1px dotted red
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	width: 80%
	margin-left: 10%
	margin-top: 120px
	
.specials__item
	box-sizing: border-box
	border: 1px solid black
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 33%
	min-width: 250px
	height: 50%
	
.specials__image
	width: 50%
	
	
.specials__text
	width: 50%
	background-color: #f8f8f8

	
	